/*スムーズスクロール設定*/
html{
    scroll-behavior: smooth;
}

/*ヘッダー設定*/
.navbar{
    background-color: #000096; /*背景色*/
}
.navbar-brand{
    color: #66ff66; /*文字色*/
}

/*ハンバーガーボタン色設定*/
.navbar-toggler {
    border-color: #66ff66; /*枠線色*/
    background-color: #000096; /*枠内の色*/
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(102,255,102,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); /*三本線(≡)の色(strokeをrgba値で指定する)*/
}

/*レイアウト設定*/

/*ヘッダーのHome,About,Activity,Contact*/
.nav-link{
    color:#66ff66
}

/*画像（いらすとや部分）*/
.img{
    width:200px;
    height:200px;
}

/*Activityの画像（クイズ,農業,教育,編入）*/
.img2{
    width:200px;
    height:200px;
}

/*コンテンツ詳細内BE画像*/
.img3{
    width:100px;
    height:100px;
}

/*About,Activity,Contact*/
.featurette-heading{
}

/*水平線*/
.featurette-divider{
}
/*全体のレイアウト*/s
.row{
    text-align: center;
}
.col-lg-4{
    align-content: center;
    text-align: center;
}

.col-lg-6{
    align-content: center;
    text-align: center;
}

.col-md-7{
    text-align: center;
    margin: 0 auto;
}

/*箇条書き部分*/
.list{
    text-align: left;
}
.lead{
    text-decoration-color: aliceblue;
}

/*テーマ切り換え部分*/
:root {
    --s-1: 0 2px 5px rgba(0, 0, 0, 0.26);
    --s-2: 0 2px 10px rgba(0, 0, 0, .2);
}

body[theme="dark"] {
    --m-bg: #000032;
    --d-color: #fff;
    --s-color: #9F9F9F;
    --s-bg: #242424;
    --b-1: 1px #242424 solid;
    --a-color: #66ff66;
}

body[theme="light"] {
    --m-bg: #FFF;
    --d-color: #202124;
    --s-color: #5F6368;
    --b-1: 1px solid #dadce0;
    --a-color: #000096;
}

body{
    background: var(--m-bg);
    color: var(--d-color);
}
#themechange{
    border: var(--b-1);
    background: var(--m-bg);
    color: var(--a-color);
    font-size: 18px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 4px;
    transition: all 1s;
}


#themechange:focus{
    outline: none;
}

#background img{
    margin-top: 40px;
    width: 100%;
}
.subtitle{
    font-family:'Times';
    font-size:40px;
    text-align: center;
}
#sns-item{
    font-size: 40px;
}

/*quiz.html css*/
#quiz-topic{
    margin-top:100px; 
}
#quiz-topic ul{
    text-align: left
}
#back{
    font-size: 20px;
    text-align: right;
}

/*education.html css*/
#educ-topic{
    margin-top:100px; 
}

#educ-st{
    margin-top:50px;
}

/*univ-transfer.html css*/
#univ-transfer{
    margin-top:100px;
}

/*kanji.html css*/
#kanji{
    margin-top:100px;
}

#kanji-st{
    margin-top:30px;
}

#kanji-be{
    margin-top:40px;
}

/*agriculture.html css*/
#agriculture{
    margin-top:100px;
}

#agrinsta{
    font-size: 60px;
}