/*スムーズスクロール設定*/
html{
    scroll-behavior: smooth;
}

/*ヘッダー設定*/
.navbar{
    background-color: #000064; /*背景色*/
}
.navbar-brand{
    color: #FFC000; /*文字色*/
}

/*ハンバーガーボタン色設定*/
.navbar-toggler {
    border-color: #FFC000; /*枠線色*/
    background-color: #000064; /*枠内の色*/
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,192,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); /*三本線(≡)の色(strokeをrgba値で指定する)*/
}

/*レイアウト設定*/

/*ヘッダーのContents,About,Contact*/
.nav-link{
    color: #00FFFF;
    margin-right: 5px;
    display: inline-block;
    text-decoration: none;
    transition: 0.25s ease-in-out;
}

.nav-link:hover{
    color: #FFC000;
}

/*画像（いらすとや部分）*/
.img{
    width:200px;
    height:200px;
}

/*Bluminousロゴ画像*/
/* パソコン */
.pc { display: block !important; }
.sp { display: none !important; }
 
/* スマートフォン */
@media only screen and (max-width: 750px) {
    .pc { display: none !important; }
    .sp { display: block !important; }
}

/*Activityの画像（クイズ,農業,教育,編入）*/
.img2{
    width:200px;
    height:200px;
}

/*コンテンツ詳細内BE画像*/
.img3{
    width:200px;
    height:200px;
    margin-top: 25px;
}

/*全体のレイアウト*/
.row{
    text-align: center;
}
.col-lg-3{
    align-content: center;
    text-align: center;
}

.col-lg-4{
    align-content: center;
    text-align: center;
}

.col-lg-6{
    align-content: center;
    text-align: center;
}

.col-md-7{
    text-align: center;
    margin: 0 auto;
}

.col-lg-12{
    align-content: center;
    text-align: center;
}

.col-sm-6{
    align-content: center;
    text-align: center;
}

.col-xs-6{
    align-content: center;
    text-align: center;
}

/*箇条書き部分*/
.list{
    text-align: left;
}
.lead{
    font-size: 23px;
    font-family: 'Noto Sans JP',sans-serif;
    text-decoration-color: aliceblue;
}

.sublead{
    font-size: 20px;
    font-family: 'Noto Sans JP',sans-serif;
    text-decoration-color: aliceblue;
}

.edlead{
    font-size: 25px;
    font-family: 'Noto Sans JP',sans-serif;
    text-decoration-color: aliceblue;
    color: var(--a2-color);
}

.ealead{
    font-size: 22px;
    font-family: 'Noto Sans JP',sans-serif;
    margin-top: 10px;
    text-decoration-color: aliceblue;
}

.edytslead{
    font-size: 28px;
    font-family: 'Noto Sans JP',sans-serif;
    margin-top: 45px;
    text-decoration-color: aliceblue;
    color: var(--a2-color);
}

.edsublead{
    font-size: 18px;
    font-family: 'Noto Sans JP',sans-serif;
    text-decoration-color: aliceblue;
}

.pop_btn > li{
    display: inline-block;
    height: 180px;
    margin: 0;
    position: relative;
    width: 180px;
}

.pop_btn > li a{
    background-color: var(--bt-color);
    border: 5px solid var(--pbtb-color);
    border-radius: 500px;
    color: var(--pbtb-color);
    display: block;
    font-size: 20px;
    height: 120px;
    left: 15px;
    line-height: 110px;
    margin-top: 15px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 15px;
    transition: all ease 0.2s;
    width: 120px;
}

.pop_btn > li a:hover{
    background-color: var(--pbtb-color);
    color: var(--bt-color);
    font-size: 30px;
    height: 170px;
    left: -9.5px;
    line-height: 160px;
    top: -10px;
    width: 170px;
}

/*テーマ切り換え部分*/
:root {
    --s-1: 0 2px 5px rgba(0, 0, 0, 0.26);
    --s-2: 0 2px 10px rgba(0, 0, 0, .2);
}

body[theme="dark"] {
    --m-bg: #000032;
    --d-color: #FFF;
    --s-color: #9F9F9F;
    --s-bg: #242424;
    --b-1: 1px #242424 solid;
    --a-color: #00FFFF;
    --bt-color: #000075;
    --a2-color: #00FFFF;
    --pbtb-color: #FFC000;
}

body[theme="light"] {
    --m-bg: #E7FFFF;
    --d-color: #202124;
    --s-color: #5F6368;
    --b-1: 1px solid #dadce0;
    --a-color: #000096;
    --bt-color: #97FFFF;
    --a2-color: #000075;
    --pbtb-color: #0000CC;
}

body{
    background: var(--m-bg);
    color: var(--d-color);
}
#themechange{
    border: var(--m-bg);
    background: #000064;
    color: #00FFFF;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 4px;
    transition: all 1s;
    outline: 0;
}

#themechange:hover{
    background: #FFC000;
    color: #000075;
}

#themechange:focus{
    outline: none;
}

#background img{
    margin-top: 40px;
    width: 100%;
}
.subtitle{
    font-size:40px;
    text-align: center;
}

#sns-item{
    font-size: 40px;
}

#contents{
    margin-top: 50px;
}

#about{
    margin-top: 50px;
}

#contact{
    margin-top: 50px;
}

#featurette-divider1{
    margin-top: 50px;
}

#featurette-divider2{
    margin-top: 50px;
}

#featurette-divider3{
    margin-top: 50px;
}

/*quiz.html css*/
#quiz-topic{
    margin-top:100px; 
}
#quiz-topic ul{
    text-align: left
}
#back{
    font-size: 20px;
    text-align: right;
}

/*electronics.html css*/
#elec-topic{
    margin-top:100px;
}

#elecsns{
    font-size: 60px;
}

/*education.html css*/
#educ-topic{
    margin-top:100px; 
}

/*agriculture.html css*/
#agriculture{
    margin-top:100px;
}

/*sitemap.html css*/
#map-topic{
    margin-top:100px;
}

#mapa{
    margin-top: 30px;
    font-size: 30px;
}

#mapb{
    font-size: 30px;
}